version: "3"

services:
  h2db:
    image: oscarfonts/h2:2.3.232
    environment:
      - OLD_INFORMATION_SCHEMA=true
    volumes:
      - /techytax-data
    user: "root"
    ports:
      - "81:81"
      - "1521:1521"

  backend:
    build:
      context: .
    image: techytax/app:latest
    volumes:
      - /techytax-invoices
      - /techytax-data
    user: "root"
    ports:
      - "8080:8080"
    depends_on:
      - h2db

  frontend:
    build:
      context: ../techytax-ngx
    image: techytax/frontend:latest
    ports:
      - "8090:8090"
    depends_on:
      - backend
