services:
  backend:
    # build:
    #   context: .
    image: beemsoft/techytax:latest
    environment:
      - MY_LOCAL_TECHYTAX_DIR=/techytax-data
    volumes:
      - ./techytax-invoices:/techytax-invoices
      - ${MY_LOCAL_TECHYTAX_DIR:-D:/Docker}:/techytax-data
    user: "root"
    ports:
      - "8080:8080"

  frontend:
#    build:
#      context: ../techytax-ngx
    image: beemsoft/techytax-fe:latest
    ports:
      - "8090:8090"
    depends_on:
      - backend
