# config context path to "/" by setting an empty string
server:
  servlet:
    context-path: /

jwt:
  header: Authorization
  secret: v9y$B&E)H+MbQeThWmZq4t7w!z%C*F-JaNcRfUjXn2r5u8x/A?D(G+KbPeSgVkYp
  expiration: 604800

spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:${MY_LOCAL_TECHYTAX_DIR}/tt_db;AUTO_SERVER=true
    password: test
    username: sa

  jpa:
    database: H2
    generate-ddl: true
    hibernate:
      ddl-auto: update

  jackson:
    serialization:
      INDENT_OUTPUT: true
      fail-on-empty-beans: false

  config:
    import: "optional:classpath:license-config.yml"

  mail:
    host:
    port: 587
    username:
    password:

      # Other properties
    smtp:
      auth: true
      connectiontimeout: 5000
      timeout: 5000
      writetimeout: 5000

      # TLS , port 587
      starttls:
        enable: true

